change_data/
change_data
logs/*
change_data.tar.gz
vis_tsne/vis_res/*
!logs/*.txt
trained_model/
.vscode/
wandb/
vis_tsne/
result*/
checkpoints*/*
sourceOnly_PreTrainModel
old_model*/
DGT_ST_preTraModel
checkpoints/*
preTraModel
res_pred
*.pyc
workspace